*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  perspective: 1000px;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


ul {
  padding: 0;
  list-style: none;
}

.content {
  width: 404px;
  height: 604px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  background-size: cover;
  transition: transform 1s ease;
}

.card {
  width: 400px;
  height: 600px;
  background-color: rgb(255, 127, 80);
  text-align: center;
  transition: transform 1s ease;
  position: absolute;
  backface-visibility: hidden;
}


.back {
  transform: rotateX(180deg);
  background: rgb(54,52,52);
  background: linear-gradient(90deg, rgba(54,52,52,1) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
  padding: 150px 50px;
}

.box:hover .content {
  transform: translate(-50%, -50%) rotateX(180deg);
}

.des {
  margin-top: 90px;
}

.text {
  font-size: 20px;
}


.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 34px;
  height: 34px;
  align-items: center;
  display: flex;
  margin: 5px;
  justify-content: center;
  transition: all 0.7s ease
}

.item:hover {
  border-radius: 50%;
  justify-content: center;
  background-color: red;
  align-items: center;
}
